<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon.ico">

    <!-- google fonts --->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    @RenderBody()

    <!-- JQuery -->
    <script src="~/Scripts/js/jquery.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/js/script.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

</body>

</html>