@model notesmarketplace.Models.ContactUs
@{
    ViewBag.Title = "Contact Us";
    if (Session["email"] != null)
    {
        Layout = "~/Views/Shared/RegisterUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/NonRegisterUser.cshtml";
    }
}

<!-- Get In Touch Image -->
<section id="git">

    <div class="image-and-content">

        <!-- Background Image -->
        <div id="get-in-touch-bg-img">
            <img src="~/Content/img/Contact-Us/banner-with-overlay.jpg" alt="Home Page">
        </div>

        <!-- Usser Contant -->
        <div id="get-in-touch-content" class="text-center">
            <h2>Contact Us</h2>
        </div>
        <!-- User Profile Ends -->

    </div>
</section>

<!-- Get In Touch -->
<section id="get-in-touch">
    <form method="post">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h2>Get In Touch</h2>
                        <p><span>Let us know how to get back to you</span></p>
                    </div>
                    <!-- left side of get in touch -->
                    <div class="col-md-6 col-sm-6">
                        <div id="left-side-git">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <label for="fullname-git">Full Name *</label>
                                    @if (Session["email"] != null)
                                    {
                                        <input name="FullName" type="text" class="form-control" id="fullname-git" placeholder="Enter your full name" value="@Model.FullName" required>
                                    }
                                    else
                                    {
                                        <input name="FullName" type="text" class="form-control" id="fullname-git" placeholder="Enter your full name" required>
                                    }

                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <label for="email-git">Email Address *</label>
                                    @if (Session["email"] != null)
                                    {
                                        <input name="EmailID" type="email" class="form-control" id="email-git" placeholder="Enter your email address" value="@Model.EmailID" required>
                                    }
                                    else
                                    {
                                        <input name="EmailID" type="email" class="form-control" id="email-git" placeholder="Enter your email address" required>
                                    }
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <label for="sub-git">Subject *</label>
                                    <input name="Subject" type="text" class="form-control" id="sub-git" placeholder="Enter your subject" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- left side of get in touch -->
                    <div class="col-md-6 col-sm-6">
                        <div id="left-side-git">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <label for="comments-que">Comments / Questions *</label>
                                    <textarea name="Comment" id="comments-que" placeholder="comments..." class="form-control" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div id="submit-btn-git">
                            <button class="btn btn-general btn-purple" type="submit">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- Get In Touch Ends -->