@model notesmarketplace.User
@{
    ViewBag.Title = "Email Verification";
    Layout = "~/Views/Shared/RegistrationPages.cshtml";
}

<!-- Email Verification -->
<section id="email-verify">
    <form method="post">
        <div class="content-box-md">
            <div class="container">
                <div class="email-verify-form">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <img src="~/Content/img/home/logo.png" alt="logo">
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <h2>Email Verification</h2>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <p><span>Dear Smith,</span></p>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <p>Thanks for Signing up!</p>
                            <p>Simply click below for email Verification</p>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <button class="btn btn-general btn-purple" type="submit">VERIFY EMAIL ADDRESS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- Email Verification Ends -->