<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Forgot Password</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon.ico">

    <!-- google fonts --->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">

</head>


<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <!-- Forgot Password  -->
    <section id="forgot-password">

        <!-- Background Image -->
        <div id="common-bg-img">
            <img src="~/Content/img/pre-login/banner-with-overlay.jpg" alt="Login Page">
        </div>

        <!-- Logo -->
        <div class="logo-forgotpassword">
            <!-- logo -->
            <a href="../home/">
                <img src="~/Content/img/home/top-logo.png" alt="logo" id="logo-img">
            </a>
        </div>


        <!-- Forgot Password Form -->
        <div id="forgotpasswordform" class="container">
            <form action="LogIn">
                <div id="forgotpassword-heading" class="text-center">
                    <h2>Forgot Password?</h2>
                    <p>Enter your email to reset your password</p>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for="email-id-forgotpassword">Email</label>
                            <input type="email" class="form-control" id="email-id-forgotpassword" placeholder="Enter your email address" required>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg btn-block btn-forgot-password" type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </section>
    <!-- Forgot Password End -->


    <!-- JQuery -->
    <script src="~/Scripts/js/jquery.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/js/script.js"></script>

</body>

</html>