@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/RegistrationPages.cshtml";
}

<!-- Forgot Password  -->
<section id="forgot-password">

    <!-- Background Image -->
    <div id="common-bg-img">
        <img src="~/Content/img/pre-login/banner-with-overlay.jpg" alt="Login Page">
    </div>

    <!-- Logo -->
    <div class="logo-forgotpassword">
        <!-- logo -->
        <a href="~/home/">
            <img src="~/Content/img/home/top-logo.png" alt="logo" id="logo-img">
        </a>
    </div>


    <!-- Forgot Password Form -->
    <div id="forgotpasswordform" class="container">
        <form method="post">
            <div id="forgotpassword-heading" class="text-center">
                <h2>Forgot Password?</h2>
                <p>Enter your email to reset your password</p>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="email-id-forgotpassword">Email</label>
                        <input name="EmailID" type="email" class="form-control" id="email-id-forgotpassword" placeholder="Enter your email address" required>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-lg btn-block btn-forgot-password" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
</section>
<!-- Forgot Password End -->