<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Reset Password</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon.ico">

    <!-- google fonts --->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <!-- Reset Password  -->
    <section id="reset-password">

        <!-- Background Image -->
        <div id="common-bg-img">
            <img src="~/Content/img/pre-login/banner-with-overlay.jpg" alt="Login Page">
        </div>

        <!-- Logo -->
        <div class="logo-reset-password">
            <!-- logo -->
            <img src="~/Content/img/home/top-logo.png" alt="logo" id="logo-img">
        </div>

        <!-- Reset Password Form -->
        <div id="reset-passwordform" class="container">
            <form>
                <div id="reset-password-heading" class="text-center">
                    <h2>Change Password</h2>
                    <p>Enter your new password to change your password</p>
                </div>
                <div class="row resetpass">
                    <div class="col-md-12 col-xs-12">
                        <div class="row" id="old-pass">
                            <div class="col-md-12">
                                <label for="password-old-field">Old Password</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="password-old-field" type="password" class="form-control" name="password" placeholder="Enter your old password" required>
                            <span toggle="#password-old-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="row" id="new-pass">
                            <div class="col-md-12 col-xs-12">
                                <label for="password-new-field">New Password</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="password-new-field" type="password" class="form-control" name="password" placeholder="Enter your new password" required>
                            <span toggle="#password-new-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="row" id="confirm-pass">
                            <div class="col-md-12 col-xs-12">
                                <label for="password-confirm-field">Confirm Password</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="password-confirm-field" type="password" class="form-control" name="password" placeholder="Enter your confirm password" required>
                            <span toggle="#password-confirm-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg btn-block btn-reset-password" type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </section>
    <!-- Reset Password Form Ends-->

    <!-- JQuery -->
    <script src="~/Scripts/js/jquery.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/js/script.js"></script>
</body>

</html>