@model notesmarketplace.Models.ResetPassword
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/RegistrationPages.cshtml";
}


<!-- Reset Password  -->
<section id="reset-password">

    <!-- Background Image -->
    <div id="common-bg-img">
        <img src="~/Content/img/pre-login/banner-with-overlay.jpg" alt="Login Page">
    </div>

    <!-- Logo -->
    <div class="logo-reset-password">
        <!-- logo -->
        <a href="~/home/">
            <img src="~/Content/img/home/top-logo.png" alt="logo" id="logo-img">
        </a>
    </div>

    <!-- Reset Password Form -->
    <div id="reset-passwordform" class="container">
        <form method="post">
            <div id="reset-password-heading" class="text-center">
                <h2>Change Password</h2>
                <p>Enter your new password to change your password</p>
            </div>
            <div class="row resetpass">
                <div class="col-md-12 col-xs-12">
                    <div class="row" id="old-pass">
                        <div class="col-md-12">
                            <label for="password-old-field">Old Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="password-old-field" type="password" class="form-control" name="OldPassword" placeholder="Enter your old password" required>
                        <span toggle="#password-old-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="row" id="new-pass">
                        <div class="col-md-12 col-xs-12">
                            <label for="password-new-field">New Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="password-new-field" type="password" class="form-control" name="NewPassword" placeholder="Enter your new password" required>
                        <span toggle="#password-new-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="row" id="confirm-pass">
                        <div class="col-md-12 col-xs-12">
                            <label for="password-confirm-field">Confirm Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="password-confirm-field" type="password" class="form-control" name="ConfirmNewPassword" placeholder="Enter your confirm password" required>
                        <span toggle="#password-confirm-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-lg btn-block btn-reset-password" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
</section>
<!-- Reset Password Form Ends-->