@model notesmarketplace.UserProfile
@{
    ViewBag.Title = "My Profile";
    if (Session["email"] != null)
    {
        Layout = "~/Views/Shared/RegisterUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/NonRegisterUser.cshtml";
    }
}
    <!-- User Profile Image -->
    <section id="user-profile">

        <div class="image-and-content">

            <!-- Background Image -->
            <div id="user-profile-bg-img">
                <img src="~/Content/img/User-Profile/banner-with-overlay.jpg" alt="Home Page">
            </div>

            <!-- Usser Contant -->
            <div id="user-content" class="text-center">
                <h2>User Profile</h2>
            </div>
            <!-- User Profile Ends -->

        </div>
    </section>

    <!-- Profile Details -->
    <section id="user-profile-form">
        <form method="post" enctype="multipart/form-data">
            <div id="basic-profile">
                <div class="content-box-md">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4>Basic Profile Details</h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="firstname-user-profile">First Name *</label>
                                @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control", @id = "firstname-user-profile", @placeholder = "Enter your first name" })
                                @*<input name="FirstName" type="text" class="form-control" id="firstname-user-profile" placeholder="Enter your first name" required>*@
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="lastname-user-profile">Last Name *</label>
                                @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control", @id = "lastname-user-profile", @placeholder = "Enter your last name" })
                                @*<input name="LastName" value="@Model.User.LastName" type="text" class="form-control" id="lastname-user-profile" placeholder="Enter your last name" required>*@
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="email-id-user-profile">Email *</label>
                                <input name="EmailID" value="@Model.User.EmailID" readonly type="email" class="form-control" id="email-id-user-profile" placeholder="Enter your email address" required>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="dob-user-profile">Date of Birth</label>
                                <input name="DOB" type="date" class="form-control" id="dob-user-profile" placeholder="Enter your birth date">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="gender">Gender</label>
                                <select id="gender" name="Gender" class="form-control">
                                    <option value="0">Select your gender</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Other</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="phone-user-profile">Phone Number</label>
                                <div class="row">
                                    <div class="col-md-2 col-sm-3 col-xs-3">
                                        <select id="country-code" name="CountryCode">
                                            <option value="india">+91</option>
                                            <option value="japan">+81</option>
                                            <option value="mexico">+52</option>
                                            <option value="united state">+1</option>
                                        </select>
                                    </div>
                                    <div class="col-md-10 col-sm-9 col-xs-9">
                                        <input name="PhoneNumber" type="text" class="form-control" id="phone-user-profile" placeholder="Enter your phone number">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label for="img-upload">Profile Picture</label>
                                <div class="upload-image">
                                    <input type="file" name="Profile_Picture" accept="image/*" class="form-control">
                                    <div id="img-upload-user" class="text-center">

                                        <img src="~/Content/img/User-Profile/upload.png" alt="Upload a picture">
                                        <p>Upload a picture</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Basic Profile Details Ends-->
            <!-- Address Details -->
            <div id="address-details">
                <div class="content-box-md">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4>Address Details</h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="add1-user-profile">Address Line 1 *</label>
                                <input name="AddressLine1" type="text" class="form-control" id="add1-user-profile" placeholder="Enter your first name" required>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="add2-user-profile">Address Line 2 *</label>
                                <input name="AddressLine2" type="text" class="form-control" id="add2-user-profile" placeholder="Enter your first name" required>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="city-user-profile">City *</label>
                                <input name="City" type="text" class="form-control" id="city-user-profile" placeholder="Enter your first name" required>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="state-user-profile">State *</label>
                                <input name="State" type="text" class="form-control" id="state-user-profile" placeholder="Enter your first name" required>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="zip-user-profile"> ZipCode *</label>
                                <input name="ZipCode" type="text" class="form-control" id="zip-user-profile" placeholder="Enter your first name" required>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="country">Country *</label>
                                <select id="country" name="Country" class="form-control">
                                    <option value="1">Select your country</option>
                                    <option value="India">India</option>
                                    <option value="Japan">Japan</option>
                                    <option value="Mexico">Mexico</option>
                                    <option value="United State">United State</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Address Details Ends -->
            <!-- University and College Information -->
            <div id="uni-coll-details">
                <div class="content-box-md">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4>University and College Information</h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="uni-user-profile">University</label>
                                <input name="University" type="text" class="form-control" id="uni-user-profile" placeholder="Enter your first name" required>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label for="coll-user-profile">College</label>
                                <input name="College" type="text" class="form-control" id="coll-user-profile" placeholder="Enter your first name" required>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-general btn-purple" id="user-submit" type="submit">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- University and College Information Ends -->
        </form>
    </section>
    <!-- Profile Details -->